*.iml
.idea
**/__pycache__/
test/.pytest_cache
dist/
.serverless
examples/*/.servicefoundry
.pytest_cache
.servicefoundry_templates/
.DS_Store
.servicefoundry
venv
.vscode/
venv39
repo-data/
**/.env*
tempDir/
!**/.env.example
!**/.env.calyx-prod
!**/.env.tf-devtest
.ipynb_checkpoints/