*.iml
.idea
**/__pycache__/
test/.pytest_cache
dist/
.serverless
examples/*/.servicefoundry
.pytest_cache
.servicefoundry_templates/
.DS_Store
.servicefoundry
venv
.vscode/
repo-data/
**/.env*
tempDir/
!**/.env.example
.ipynb_checkpoints/
