*.iml
.idea
**/__pycache__/
test/.pytest_cache
dist/
.serverless
.pytest_cache
.DS_Store
venv
.vscode/
repo-data/
**/.env*
tempDir/
!**/.env.example
.ipynb_checkpoints/
deploy.*.py
ragenv
requests.txt
qdrant_db
test.py
tf-docs-crawled/
truefoundry-docs/
*.zip
qdrant_storage/
*.pth
.truefoundry
infinity/
