### Some heavy packages

### for doctr
deepdoctection==0.32.0
timm==0.9.16
python-doctr==0.8.1

#### Reranker
#### For use Mxbread Reranker
sentence_transformers==2.5.1

#### Embeddings
# Install torch for as per your requirements: https://pytorch.org/get-started/locally/
# torch==2.2.1
# torchvision==0.17.1
# torchaudio==2.2.1
