GitPython==3.1.43

## uvicorn
uvicorn[standard]==0.23.2

## fastapi
fastapi==0.111.1

## env
python-dotenv==1.0.1

## pydantic
pydantic==2.7.4
pydantic-settings==2.3.3

## pdf
PyMuPDF==1.23.6

## html
beautifulsoup4==4.12.2

## markdown
markdownify==0.11.6
markdown-crawler==0.0.8

## async
async-timeout==4.0.3
aiofiles==24.1.0

## cache
cachetools==5.5.0

## requests
requests==2.32.2

## vision
opencv-python==4.9.0.80

## pillow
pillow==10.3.0

## truefoundry
truefoundry==0.4.1

### ORM
prisma==0.13.1

### video processing
moviepy==1.0.3

## langchain
langchain==0.3.0
langchain-community==0.2.17
langchain-core==0.2.41
langchain-openai==0.1.25

## vector db
qdrant-client==1.9.0

## dev
autoflake==2.3.1
black==24.3.0
pre-commit==3.7.0
