GitPython==3.1.41
langchain==0.1.9
langchain-community==0.0.24
openai==1.3.3
tiktoken==0.5.1
uvicorn==0.23.2
fastapi==0.104.1
qdrant-client==1.7.3
python-dotenv==1.0.0
weaviate-client==3.25.3
pydantic==1.10.12
orjson==3.9.15
PyMuPDF==1.23.6
redis==5.0.1
beautifulsoup4==4.12.2
mlfoundry==0.10.6
servicefoundry==0.10.1
markdownify==0.11.6
gunicorn==21.2.0
jupyter