boto3==1.26.76
fastapi==0.93.0
grpcio-tools==1.48.2
grpcio==1.54.2
langchain==0.0.228
langchainplus-sdk==0.0.20
mlfoundry==0.9.8
openai==0.27.8
python-dotenv==1.0.0
qdrant-client==1.2.0
servicefoundry==0.9.19
tiktoken==0.4.0
uvicorn==0.21.1
