langchain==0.0.236
langchainplus-sdk==0.0.20
openai==0.27.8
tiktoken==0.4.0
uvicorn==0.21.1
mlfoundry==0.9.4
servicefoundry==0.9.14
fastapi==0.93.0
boto3==1.26.76
grpcio==1.54.2
grpcio-tools==1.48.2
qdrant-client==1.2.0
python-dotenv==1.0.0

