name: Deploy
on:
  push:
    branches:
      - release
jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install truefoundry
        run: pip install -U --pre truefoundry==0.2.10
      - name: Generate truefoundry-patched.yaml
        run: |
          tfy patch --file truefoundry.yaml \
            --filter='(.components[] | select(.image.build_source != null)) |= (.image.build_source.ref = "${{ github.sha }}" | .image.build_source.branch_name = "${{ github.ref_name }}")' \
            --output-file truefoundry-patched.yaml
      - name: Deploy
        run: tfy deploy --workspace-fqn ${{ secrets.TFY_WORKSPACE_FQN }} --file truefoundry-patched.yaml --no-wait
        env:
          TFY_API_KEY: ${{ secrets.TFY_API_KEY }}
          TFY_HOST: ${{ secrets.TFY_HOST }}
